{% extends 'base.html.twig' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class=" shadow p-3 mb-5 bg-white rounded">
                <h1 class="h3 mb-3">LOGIN</h1>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}

                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn-block btn-lg btn-primary'}}) }}
                        </div>
                    </div>

                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
