{% extends 'base.html.twig' %}

{% block content %}
    <h1>
        Hello, World.
    </h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="mt-5">
            You are Admin. Go to <a href="{{ path('admin_index') }}">Admin UI</a>
        </div>
    {% endif %}


{% endblock %}
