{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block _user_user_languages_entry_widget %}
    {%- set attr = attr|merge({'class': 'row' }) -%}
    {{- block('collection_widget') -}}
{% endblock %}

{% block _user_user_languages_entry_language_row %}
    {%- set row_attr = row_attr|merge({'class': 'col-5' }) -%}
    {{- block('form_row') -}}
{% endblock %}

{% block _user_user_languages_entry_proficiency_row %}
    {%- set row_attr = row_attr|merge({'class': 'col-5' }) -%}
    {{- block('form_row') -}}

    <div class="col-2 d-flex justify-content-end align-items-end mb-3">
        <button type="button" class="btn user-language-delete-button">
            <span class="text-primary"><i class="far fa-trash-alt"></i></span>
        </button>
    </div>
{% endblock %}


{% block content %}
    <div id="asdasd" class="row justify-content-center">
        <div class="col-md-7">
            <div class="d-flex justify-content-between">
                <h1 class="h3 mb-3">NEW USER</h1>
                <div class="text-muted">
                    * mandatory
                </div>
            </div>
            <div>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}

                {{ form_row(form.fullName) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}

                <div id="form_entity_type_fields">
                    {{ form_row(form.entityType) }}
                </div>

                <div id="form_personal_fields">
                    {{ form_row(form.personalCode) }}
                </div>
                <div id="form_company_fields">
                    {{ form_row(form.companyName) }}
                    {{ form_row(form.companyCode) }}
                </div>

                <div id="form_user_language_list"
                    data-prototype="{{ form_widget(form.userLanguages.vars.prototype)|e('html_attr') }}"
                    data-widget-tags="{{ '<div></div>'|e }}"
                    data-widget-counter="{{ form.userLanguages|length }}">

                    {% for userLanguageField in form.userLanguages %}
                        <div>
                            {{ form_errors(userLanguageField) }}
                            {{ form_widget(userLanguageField) }}
                        </div>
                    {% endfor %}
                </div>

                <div class="my-4">
                    <div id="form_add_language" class="d-inline-flex align-items-center" style="cursor: pointer" data-list-selector="#form_user_language_list">
                        <div class="bg-primary px-2 text-white" style="font-size: 150%">+</div>
                        <div class="m-2">Add language</div>
                    </div>
                </div>

                <div class="row justify-content-between border-top pt-3">
                    {% if editMode %}
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-lg btn-outline-secondary" data-toggle="modal" data-target="#deleteUserModal">Delete</button>
                        </div>
                    {% endif %}

                    <div class="col-4">
                        <a href="{{ path('admin_index') }}" class="btn-block btn btn-lg btn-secondary">Cancel</a>
                    </div>
                    <div class="col-4">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn-block btn-lg btn-primary'}, 'label': 'Save'}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


    {% if editMode %}
        <!-- Delete User Modal -->
        <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLabel">Are you sure you want to delete the user?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mb-5">
                        User {{ user.fullName }} will be Disabled and will not be able to login to the system.
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="{{ path('admin_delete_user', {id: user.id}) }}" type="button" class="btn btn-lg btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_create_user') }}
{% endblock %}
