{% extends 'base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-end mb-4">
        <a href="{{ path('admin_create_user') }}" class="btn btn-lg btn-primary">
            New User
        </a>
    </div>

    <div>
        <table class="table table-borderless table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name Surname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Company</th>
                    <th scope="col">Company/Personal code</th>
                    <th scope="col">Language</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr class="border-top border-bottom table-clickable-row" style="cursor:pointer;" data-href="{{ path('admin_edit_user', {id: user.id}) }}">
                        <td>{{ user.fullName }}</td>
                        <td class="text-primary">{{ user.email }}</td>
                        <td>{{ user.companyName ?? '-' }}</td>
                        <td>{{ user.entityType == 'legal' ? user.companyCode : user.personalCode }}</td>
                        <td>
                            {% for userLanguage in user.userLanguages %}
                                {{ userLanguage.language|capitalize }};
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin_index') }}
{% endblock %}
