<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)v
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container">
                <nav class="navbar sticky-top navbar-expand navbar-light border-bottom bg-white">
                    <a class="navbar-brand" href="{{ path('home_index') }}">
                        <img src="{{ asset('build/images/logo.png') }}" height="40" alt="" loading="lazy">
                    </a>

                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            {% if app.user %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ app.user.username }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">Log out</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item ml-auto">
                                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

                <div class="mt-3">
                    {% block content %}{% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>
